<!doctype html>
<html>
  <head>
    <title>ERC-7201 Slot Calculator</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
      .copy-btn {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body class="container">
    <h1>ERC-7201 Slot Calculator</h1>
    <p>
      Calculate ERC-7201 storage slots for
      <a href="https://eips.ethereum.org/EIPS/eip-7201" target="_blank">ERC-7201</a> namespaces.
    </p>

    <form onsubmit="window.location.href='/'+document.querySelector('input').value; return false;">
      <div class="grid">
        <input
          type="text"
          value="example.main"
          placeholder="e.g. example.main"
          required
        />
        <button type="submit">Calculate</button>
      </div>
    </form>

    <h3>Using cURL</h3>
    <pre><code>curl {{ host_url }}example.main</code></pre>

    <h3>Using Foundry Cast</h3>
    <pre><code>cast index-erc7201 example.main</code></pre>
  </body>
</html>
